html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    line-height: 1.5;
    font-family: 'Merriweather', serif;
    text-align: justify;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}



